@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
  font-family: 'Roboto', sans-serif;
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  margin: 10px;
  /* body { background-color: #d8b9b9; } */
}
a {
  color: #340909;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: #fbe0ea;
}
a:visited {
  color: #52111f;
}

.avatar {
  width: 200px;
  border-radius: 28px;
  box-shadow: 4px 4px 14px rgba(69, 44, 44, 0.25);
}

.info {
  background-color: #e6cccd;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
}

h1 {
  color: #4b0d0d;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
th,
td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #eee;
}

ul,
ol {
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-top: 10px;
}

form input[type='text'],
form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}
form input[type='submit'] {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #5cb85c;
  color: white;
  border: none;
  cursor: pointer;
}
form input[type='submit']:hover {
  background-color: #4cae4c;
}
.info p {
  color: rgb(64, 52, 39);
  margin: 5px 10px;
  font-family: italic;
  font-weight: bold;
  text-decoration: none;
  /* text-transform: uppercase; */
  /* letter-spacing: 5px; */
  /* word-spacing: 42px; */
}
/* Box model */
.container {
  max-width: 750px;
  margin: auto;
}

/* .box-model > div {
  background-color: #f0ad4e;
  height: 200px;
  width: 25%;
  float: left;
  border: 5px solid #340909;
  margin: 20px;
  padding: 20px;
  box-sizing: border-box;
} */

.bg-red {
  background-color: #f7dadb;
}
.bg-yellow {
  background-color: #f6eecc;
}
.bg-green {
  background-color: #f5f7f2;
}

 .card
  {
    /*background-color: white;*/
    padding: 15px 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }
  .list {
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
  }
  .list li {
    color: #331717;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
  }
  .table {
    width: 100%;;
  }
  .table td {
    padding: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
  }
 .table td:nth-child(2),
 .table td:nth-child(3) {
      color: #ccc3;
    }
  /*.table tr:nth-child(even) {
    background-color: #5d2a2a;
  }*/