@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
font-family: 'Roboto', sans-serif;
/*  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
margin: 10px;
background-color: #f6eecc;
}
a {
  color: #340909;
  text-decoration: none;

}


a:hover {
  text-decoration: underline;
}

a:active {
  color: #9e6f81;
}
a:visited {
  color: #52111f;
} 

.avatar {
  width: 200px;
  border-radius: 28px;
box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);


}
h1 {
  color: #340909;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
th,
td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}
th {
  background-color: #eee;
}
ul,
ol {
  margin-bottom: 20px;
}
form label {
  display: block;
  margin-top: 10px;
}
form input[type='text'],
form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}
form input[type='submit'] {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #5cb85c;
  color: white;
  border: none;
  cursor: pointer;
}
form input[type='submit']:hover {
  background-color: #4cae4c;
}
.info p {
  color: rgb(26, 21, 16);
  margin: 5px 0;
  font-family: italic;
  font-weight: bold;
  text-decoration: none;
/* text-transform: uppercase; */ 
/*letter-spacing: 5px; */
/*word-spacing: 42px*/;
}
/* Box model */
.container {
max-width:750px;
margin: auto;

}

/* .box-model > div {
  background-color: #f0ad4e;
  height: 200px;
  width: 25%;
  float: left;
  border: 5px solid #340909;
  margin: 20px;
  padding: 20px;
  box-sizing: border-box;
 }*/
.bg-pink {
  background-color: #f8c6c8;      
}
.bg-yellow {
  background-color: #f6eecc;  
}
.bg-green {
  background-color: #d4edda;  
}

 .card
  {
    background-color: white;
    padding: 15px;20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }